[Desktop Entry]
Name=sinthgunt
GenericName=Video converter
Comment=Convert video files
Exec=sinthgunt
Icon=sinthgunt.png
Type=Application
Terminal=false
Encoding=UTF-8
Categories=Application;AudioVideo;
